.dropzone {
  border: 2px dashed #ccc;
  text-align: center;
  padding: 50px;
}

.ready {
  background-color: #fff;
}

.dragenter {
  background-color: #eee;
}

.dragover {
  background-color: #f5f5f5;
}

.drop {
  background-color: #ccc;
}
